@media (max-width: 740px) {
  .header-right ul {
    display: none;
  }

  .bx bx-menu {
    line-height: 76px;
    justify-items: center;
  }
  .header-menu i.bx.bx-menu {
    font-size: 30px;
    line-height: 70px;
}

  .header-menu{
    display: block;
  }
  .header-right{
    display: none;
  }
  .nav-left img {
    width: 280px;
    height: 280px;
  }
  .list-resume,
  .experience {
    display: block;
  }
  .container-footer {
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
